{% extends 'base.html.twig' %}

{% block title %}New Pin{% endblock %}

{% block body %}
        <h1>Create Pin</h1>
        {{form_start(monForm)}}
            {{form_widget(monForm)}}
            <input type="submit" value="Create Pin" formnovalidate>
        {{form_end(monForm)}}

        
        
{% endblock %}