{% extends 'layouts/base.html.twig' %}

{% block title %}New Pin{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Create Pin</h1>
            {{form_start(monForm)}}
                {{form_widget(monForm)}}
                <input type="submit" value="Create Pin" class="btn btn-primary btn-block" formnovalidate>
            {{form_end(monForm)}}

        </div>
    </div>
        

        
        
{% endblock %}